.cardDetail-content {
  margin: 1vw 12vw;
  padding: 3vh;
}
.product-img {
  width: 80px !important;
  height: auto !important;
  justify-content: center;
}
.text-cardDetail {
  color: #523a6d;
}
.btn-cardDetail {
  background-color: #523a6d !important;
  width: 14vh;
}
.btn-product {
  outline-color: #523a6d;
}
