.editProfile-content {
  margin: 0vw 10vw;
  padding: 5vh;
}
.user-img {
  width: 150px !important;
  height: auto !important;
}
.text-editProfile {
  color: #523a6d;
  margin-bottom: 3vw;
  margin-top: 2vw;
}
.btn-edit {
  background-color: #523a6d !important;
}
