.login-content {
  margin: 10vw 20vw;
  padding: 20vh;
}
.user-img {
  width: 80px !important;
  height: auto !important;
}
.text-login {
  color: #523a6d;
  margin-bottom: 3vw;
  margin-top: 2vw;
}
.btn-login {
  background-color: #523a6d !important;
  width: 14vh;
  margin-top: 2vh;
}
